.container
{
    height:330px;
    width:280px;
    background-color:rgba(220, 85, 83, 0.584);
    position: relative;
    padding-bottom: 7px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 2px;
    /* display:flexbox;
   flex-wrap: wrap; */
}
button
{
    /* font-size: 40px; */
    height: 60px;
    width: 60px;
    background-color: aquamarine;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    border-radius: 50%;
    
}
input{
    width:275px;
    height:60px;
    background-color:whitesmoke;
    margin-left:5px ;
    border:5px solid rgb(22, 231, 116);
    font-size: 30px;
    border-radius: 20px;
}
button:last-child
{
  
  background-color: rgba(244, 164, 225, 0.833);
}
.eq
{
    width:267px;
    background-color: rgba(0, 0, 255, 0.39);
}
.s
{
    position: absolute;
    right: 8px;
}
.col
{
    background-color: rgba(227, 65, 65, 0.779);
}
.n{
    background-color: orange;
}
button:hover{
    background-color: aliceblue;
    transition-property:all;
    transition-duration:0.5s;
    transition-timing-function:linear;
    transform:scale(1.1);
    font-size: 40px;
}
.wh_ca
{
    margin:0 auto;
    justify-content:center;
    position: absolute;
    left: 40%;
    background-color: rgba(220, 85, 83, 0.584);
 
 padding-top: 10px;   top:30%;
 
}
.f
{
 font-size: 60px;
 background-color: blueviolet;
 color: white;
 position: absolute;
 left:35%;
 top: 5%;
 justify-content:center;
 margin:0 auto;
 box-shadow: 5px 5px 5px  violet;
 border-radius:10px;
 animation: as 1s infinite;
}
@keyframes as{
   0%
   {
    color:aqua;
    background-color: brown;
   }
   50%
   {
    color:rgb(0, 255, 0);
    background-color: rgba(165, 42, 42, 0);
   }
   100%
   {
    color:white;
    background-color: rgb(28, 26, 26);
   }
   

}
/* .f::first-letter
{
    color: rgb(7, 232, 157);
} */
body{
    background-color: antiquewhite;
}
.f:hover
{  
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function:ease-in-out;
    transform: scale(1.5);
}

